# DATABASE
DATABASE_URL="postgresql://user:password@host:5432/vellio_db"

# NEXT
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# STRIPE
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."

# OPENAI
OPENAI_API_KEY="sk-proj-..."
OPENAI_MODEL="gpt-4o-mini"

# CLOUDINARY
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"

# EMAIL (RESEND)
RESEND_API_KEY="re_..."
EMAIL_FROM="Vellio <noreply@vellio.fr>"

# ADMIN
ADMIN_EMAIL="admin@vellio.fr"
ADMIN_PASSWORD="ChangeMeSecure2026!"

# ANALYTICS
NEXT_PUBLIC_PLAUSIBLE_DOMAIN="vellio.fr"
